projekt.dtd

<?xml version="1.0" encoding="UTF-8" ?>
<!ELEMENT Biblioteka ((Ksiazki,Pracownicy))>
<!ELEMENT Ksiazki (Ksiazka+)>
<!ELEMENT Ksiazka (Tytuł,Autor+,Kategoria*,Opinia*)>

<!ELEMENT Tytuł (#PCDATA)>
<!ELEMENT Autor (#PCDATA)>
<!ELEMENT Kategoria (#PCDATA)>
<!ELEMENT Opinia ANY>



<!ATTLIST Ksiazka Stan (Stary|Uzywany|Nowy) #REQUIRED>
<!ATTLIST Ksiazka Opis NMTOKENS #IMPLIED>
