zad4.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:complexType name="sk">
			<xsd:choice>
					<xsd:element name="nauczyciel" type="xsd:string" minOccurs="3" maxOccurs="3"/>
				<xsd:sequence>	
					<xsd:element name="dyrektor" type="xsd:string" minOccurs="1" maxOccurs="1"/>
					<xsd:element name="wicedyrektor" type="xsd:string" minOccurs="2" maxOccurs="2"/>
				</xsd:sequence>
			</xsd:choice>
	</xsd:complexType>
	
	<xsd:element name="szkola" type="sk"/> 
</xsd:schema>